
<div>
<h1>Create your own cocktail!</h1>
  <%= simple_form_for @cocktail do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.button :submit, class: 'btn btn-primary' %>

  <% end %>
</div>
<!-- smart form -->

<!-- create is happening here... -->
